*~
foo*
bar*
baz*
*.pyc
*.prior
*.aprior
*.out
test*
fit_adv*
fit_dict*
gvar.dump.*
out.*
bash_scripts/*
data-files/*
depricated/*
fig-files/*
fit-stability/*
fit-timevary/*
import-correlators-*
unused/*
ignore
